<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/fonts' %>
  </head>

  <body>

 <%= render 'layouts/header' %>
 <%= render 'layouts/sidebar' %>
  <div id="wrapper">
  <% if flash[:notice] %>
  <p class="flash notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<% if flash[:alert] %>
<p class="flash alert">
  <%= flash[:alert] %>
</p>
<% end %>
  </div>
 
    <%= yield %>

  <%= render 'layouts/footer' %>

   
  </body>
</html>
